<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="col-md-3 col-lg-2 px-3">
      <span class="navbar-brand">Dashboard</span>
  </div>
  <div class="col-md-3 col-lg-2 px-3">
      <span class="navbar-text">{{userName}}</span>
  </div>
  <div class="text-center flex-grow-1">
      <span class="navbar-text text-white fw-bold">Hashdin Marketplace</span>
  </div>
  <div class="me-3">
      <span class="navbar-text">{{datetime}}</span>
  </div>
  <div class="me-3">
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
          <div class="position-sticky">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['get-products']" routerLinkActive="active">
                          <i class="fas fa-boxes"></i> Products
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['manage-product']" routerLinkActive="active">
                          <i class="fas fa-cogs"></i> Product Management
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['get-orders']" routerLinkActive="active">
                          <i class="fas fa-clipboard-list"></i> My Orders
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['customer-orders']" routerLinkActive="active">
                          <i class="fas fa-shopping-cart"></i> Customer Orders
                      </a>
                  </li>  
                  <li class="nav-item">
                    <ng-container class="me-3" *ngIf="isSuperUser">
                        <a [routerLink]="['create-emp']" class="nav-link" routerLinkActive="active">
                          <i class="fas fa-user-plus"></i> Hashers
                        </a>
                    </ng-container>

                  </li>              
              </ul>
          </div>
      </nav>

      <!-- main content area-->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <router-outlet></router-outlet>
      </main>
  </div>
</div>
