.container {
    margin-top: 50px;
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #343a40;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  