<div class="container mt-4">
  <h2>Products</h2>

  <!-- Filter and Sort Options -->
  <div class="row mb-3 align-items-center" *ngIf="!selectedProduct">
    <div class="col-md-4">
      <input type="text" [(ngModel)]="productName" (change)="onSortChange()" placeholder="Search by product or brand name" class="form-control long-search-bar" />
    </div>
    <div class="col-md-4">
      <div class="d-flex align-items-center">
        <label for="sortOption" class="form-label mb-0 me-2">Sort</label>
        <select [(ngModel)]="sortOption" (change)="onSortChange()" class="form-control" id="sortOption" aria-placeholder="Sort">
          <option value="name">Sort By Name</option>
          <option value="price">Sort By Price</option>
          <option value="createddate">Sort By Created Date</option>
        </select>
      </div>
    </div>
  <!--  <div class="col-md-4 text-md-end mt-2 mt-md-0">
      <button class="btn btn-primary" (click)="fetchProducts()"><i class="fas fa-search"></i> Search</button>
    </div> -->
  </div>
  

 <!-- Products Grid -->
<div *ngIf="!selectedProduct" class="row">
  <div class="col-md-3 mb-4" *ngFor="let product of products; let i = index">
    <div class="card h-100">
      <img [src]="product.image" class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h2 class="card-title">{{ product.name }}</h2>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><strong>Brand:</strong> {{ product.brand }}</p>
        <p class="card-text"><strong>Price:</strong> {{ product.price | currency:'INR':'symbol' }}</p>
        <button class="btn btn-primary" (click)="orderNow(product)">Order Now</button>
      </div>
    </div>
  </div>
</div>

  <!-- Order Form -->
  <div *ngIf="selectedProduct" class="order-form">
    <h3>Order Details</h3>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img [src]="selectedProduct.image" class="img-fluid rounded-start order-image" alt="Product Image">
        </div>
      </div>
      <div class="col-md-8 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ selectedProduct.name }}</h5>
            <p class="card-text">{{ selectedProduct.description }}</p>
            <p class="card-text"><strong>Brand:</strong> {{ selectedProduct.brand }}</p>
            <p class="card-text"><strong>Price:</strong> {{ selectedProduct.price | currency:'INR':'symbol' }}</p>
            <div class="form-group d-flex align-items-center">
              <label for="quantity" class="me-2">Quantity:</label>
              <button class="btn btn-secondary btn-sm me-2" (click)="decreaseQuantity()">-</button>
              <span>{{ quantity }}</span>
              <button class="btn btn-secondary btn-sm ms-2" (click)="increaseQuantity()">+</button>
            </div>
            <p class="card-text"><strong>Total Price:</strong> {{ totalPrice | currency:'INR':'symbol' }}</p>

            <form [formGroup]="orderForm" (ngSubmit)="proceedToPay()">
              <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" formControlName="address" class="form-control">
                <div *ngIf="orderForm.get('address')?.invalid && orderForm.get('address')?.touched" class="text-danger">
                  Address is required and should be at least 10 characters long.
                </div>
              </div>
            
              <div class="form-group">
                <label for="countryCode">Country Code:</label>
                <select id="countryCode" formControlName="countryCode" class="form-control">
                  <option value="+91">India (+91)</option>
                  <option value="+1">USA (+1)</option>
                  <option value="+44">UK (+44)</option>
                  <!-- Add more country codes as needed -->
                </select>
              </div>
              
              <div class="form-group">
                <label for="mobileNumber">Mobile Number:</label>
                <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control" pattern="[0-9]*">
                <div *ngIf="orderForm.get('mobileNumber')?.invalid && orderForm.get('mobileNumber')?.touched" class="text-danger">
                  Mobile number is required and should be 10 digits long.
                </div>
              </div>
            
              <div class="form-group">
                <label for="paymentMode">Payment Mode:</label>
                <select id="paymentMode" formControlName="paymentMode" class="form-control">
                  <option value="Credit Card">Credit Card</option>
                  <option value="Debit Card">Debit Card</option>
                  <option value="Net Banking">Net Banking</option>
                  <option value="UPI">UPI</option>
                </select>
                <div *ngIf="orderForm.get('paymentMode')?.invalid && orderForm.get('paymentMode')?.touched" class="text-danger">
                  Payment mode is required.
                </div>
              </div>
            
              <div class="d-flex justify-content-between">
                <button class="btn btn-success" type="submit" [disabled]="orderForm.invalid">Proceed to Purchase</button>
                <button class="btn btn-danger" type="button" (click)="cancelSelection()">Cancel</button>
              </div>
            </form>
                     
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No Products Template -->
  <ng-template #noProducts>
    <p>No products found</p>
  </ng-template>
</div>
