<div class="product-form-container">
    <h2>Create Product</h2>
    <div class="form-horizontal">
        <div class="image-preview-container">
            <div *ngIf="imagePreview">
                <img [src]="imagePreview" alt="Image Preview" class="img-thumbnail" width="200" />
            </div>
        </div>
        <form #productForm="ngForm" (ngSubmit)="createProduct()">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Product Name:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="product.name" name="name" required #name="ngModel" class="form-control" />
                    <div *ngIf="name.invalid && name.touched" class="text-danger">Product name is required</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="product.description" name="description" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Upload Image:</label>
                <div class="col-sm-10">
                    <input type="file" (change)="onFileSelected($event)" class="form-control-file" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Brand:</label>
                <div class="col-sm-10">
                    <input type="text" [(ngModel)]="product.brand" name="brand" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Price:</label>
                <div class="col-sm-10">
                    <input type="number" [(ngModel)]="product.price" name="price" required #price="ngModel" class="form-control" />
                    <div *ngIf="price.invalid && price.touched" class="text-danger">Price is required</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary mt-3" [disabled]="productForm.invalid">Create Product</button>
                </div>
            </div>
        </form>
    </div>
</div>
